.Login {
  text-align: center;
  margin-top: 20%;
}

#error-msg {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e98b77;
  border-radius: 4px;
}

#success-msg {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #5ecf42;
  border-radius: 4px;
}
